*{
	margin: 0;
	 padding: 0;
}
@font-face{
     font-family: "OpenSans";
    src: url(Fonts/OpenSans-Light.ttf) format("truetype")
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.about-us{
	background-color: #f8f8f8;
}

.about-us ul {
	position: relative;
	width: 1120px;
	margin: 0 auto;
	list-style: none;
display: flex;
padding-top: 10px;
padding-bottom: 13px;

}
.about-us a:not(:nth-child(5)){
	padding-left: 12px;
	padding-right:10px;
}

.about-us li{
	display: flex;
	align-items: center;
	margin-right: 5px;
}
.about-us li:nth-child(3){
padding-right: 8px;
}
.about-us li:first-child{
margin-left: 5px;
	margin-right: 76px;
}
.about-us a:nth-child(3){

	padding-right: 12px;
}
.about-us li:last-child{
position: absolute;
	right: 5px;
top:12px;
}
.about-us a{
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 100%;
text-align: center;
	color:#1D1D1B;
}
.second-line{
	display: flex;
}
.second-line span{
	background-color: #E0001B;
	height: 17px;
	width: 17px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 12px;
letter-spacing: 0.05em;

}
.logo{
	padding-top: 45px;
}
#serch-form{
    width: 412px;
height: 48px;
display: flex;
border: 1px solid #D5D5D5;
margin-left: 56px;
margin-right:46px;
margin-top:30px;
}
#serch-form .serch{
    border: none;
    width: 356px;
    height: 48px;
    padding-left: 16px;
    outline: none;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 100%;
letter-spacing: 0.05em;
}
#serch-form .but{
    background-color: #E0001B;
    background-image: url(img/Frame.png);
    background-repeat: no-repeat;
   background-position: center;
    width: 56px;
height: 48px;
border: none;
outline: none;
}
.second-line ul{
	display: flex;

}
.second-line li{
list-style: none;
height: 48px;
margin-top:30px;

padding-left: 16px;
padding-right: 15px;
display: flex;
align-items: center;
justify-content: center;

}
.second-line li:hover{
	transition: 1s;
	background-color: #f8f8f8;
}
.second-line li:nth-child(2){
padding-right: 0px;
}
.second-line li> a{
	color: #000;
	font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 100%;
text-align: center;
margin-top: 16px;
margin-bottom: 18px;
padding-right: 15px;
padding-left: 15px;
}
.nav-bar{

	margin-top: 28px;
	background-color: #f8f8f8;
}
.nav-bar nav ul{
	display: flex;
justify-content: space-between;
padding-right:15px;
}
.nav-bar li{
	display: flex;
	height: 48px;
	align-items: center;
	text-align: center;
	padding-left: 16px;
}
.nav-bar a{
	padding-right: 7px;
	padding-left: 10px;
	color: #1D1D1B;
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 100%;
}
.nav-bar li:first-child{
background-color: #E0001B;
color: #fff;
padding-right: 15px;
}
.nav-bar #catalog{
	color: #fff;
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
padding-left: 15px;
}

.nav-bar #sale{
	color: #E0001B;
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 100%;
}
.container{
	width: 1120px;
	margin: 0 auto;
}
.school{
	background: #1D1D1B;
	background: rgba(0,0,0,.1);
}